# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.suo

# OS junk
.DS_Store
Thumbs.db
